footer
    .container
        .row
            .col-md-8
                ul.col-md-4 Услуги
                    -var list=['Кооператив','Новостройки','Вторичка','Вопрос юристу','Удаленная сделка','Ипотека повторно','Контроль']
                    for listLi in list
                        a
                            li= listLi
                ul.col-md-4  Информация
                    -var list=['Объединение','Новости','Форум','Аналитика','Информация','Калькуляторы','Партнеры','Инициативы','Отзывы','Контакты']
                    for listLi in list
                        a
                            li= listLi
                ul.col-md-4  Дополнительно
                    -var list=['Застройщики','Банки','Росвоенипотека','Общественная организация УНС','Молодострой','Народный фронт','Взаимодействие']
                    for listLi in list
                        a
                            li= listLi
            .col-md-4
                ul.col-md-6 Связь
                    -var list=['Регформа','В банк','Жалоба','Презентация']
                    for listLi in list
                        a
                            li= listLi
                ul.col-md-6  Кабинет
                    -var list=['Аккаунт','Избранное','Документы']
                    for listLi in list
                        a
                            li= listLi
section.footer-contact
    .container
        .footer-contact__number
            img(src="./images/icons/footer-number.png")
            span Вы можете связаться с нами по телефону
            span +7 800 500-43-44
        .footer-contact__social
            a(href="#")
                img(src="./images/icons/vk-social-logotype.png")
            a(href="#")
                img(src="./images/icons/facebook-logo-button.png")
            a(href="#")
                img(src="./images/icons/OK_logo.png")
section.footer-right
    .container
        span © Военгарант, 2016 г. Все права защищены.
        .footer-right__logo
            img(src="./images/icons/footer-right.png")
            span Разработано NTI systems