
footer
    .container
        .row.footer__context
            .col-md-8
                .row
                    ul.col-md-4 Услуги
                        -var list=['Кооператив','Новостройки','Вторичка','Вопрос юристу','Удаленная сделка','Ипотека повторно','Контроль']
                        for listLi in list
                            li
                                a= listLi
                    ul.col-md-4.indent1  Информация
                        -var list=['Объединение','Новости','Форум','Аналитика','Информация','Калькуляторы','Партнеры','Инициативы','Отзывы','Контакты']
                        for listLi in list
                            li
                                a= listLi
                    ul.col-md-4.indent2  Дополнительно
                        -var list=['Застройщики','Банки','Росвоенипотека','Общественная организация УНС','Молодострой','Народный фронт','Взаимодействие']
                        for listLi in list
                            li
                                a= listLi
            .col-md-4
                .row
                    ul.col-md-6.indent3 Связь
                        -var list=['Регформа','В банк','Жалоба','Презентация']
                        for listLi in list
                            li
                                a= listLi
                    ul.col-md-6.indent4  Кабинет
                        -var list=['Аккаунт','Избранное','Документы']
                        for listLi in list
                            li
                                a= listLi
        .row.footer__context-mob
            nav
                ul
                    li
                        a.drop__down Услуги
                        ul.drop__down__menu
                            - var TopList = ['Кооператив', 'Новостройки', 'Вторичка', 'Вопрос юристу', 'Удаленная сделака', 'Контроль']
                            for item in TopList
                                li
                                    a(href='#')
                                        span= item
                    li
                        a.drop__down Информация
                        ul.drop__down__menu
                            - var TopList = ['Объединение', 'Новости', 'Форум', 'Аналитика', 'Информация', 'Калькуляторы', 'Партнеры','Инициативы','Отзывы','Контакты']
                            for item in TopList
                                li
                                    a(href='#')
                                        span= item
                    li
                        a.drop__down Дополнительно
                        ul.drop__down__menu
                            - var TopList = ['застройщики', 'Банки', 'Росвоенипотека', 'Общественная организация УНС', 'Молодострой', 'Нородный фронт', 'Взаимодействие']
                            for item in TopList
                                li
                                    a(href='#')
                                        span= item
                    li
                        a.drop__down Службы
                        ul.drop__down__menu
                            - var TopList = ['Регформа','В банк','Жалоба','Презентация']
                            for item in TopList
                                li
                                    a(href='#')
                                        span= item

section.footer-contact
    .container
        .row
            .footer-contact__number.col-md-9
                img(src="./images/icons/footer-number.png")
                span Вы можете связаться с нами по телефону
                span +7 800 500-43-44
            .footer-contact__social.col-md-3
                a(href="#")
                    img(src="./images/icons/vk-social-logotype.png" alt="")
                a(href="#")
                    img(src="./images/icons/facebook-logo-button.png" alt="")
                a(href="#")
                    img(src="./images/icons/OK_logo.png" alt="")
section.footer-right
    .container
        .row
            .col-md-6
                span © Военгарант, 2016 г. Все права защищены.

            .footer-right__logo.col-md-6
                img(src="./images/icons/footer-right.png" alt="")
                span Разработано NTI systems