
footer
    .container
        .row
            .col-md-8
                .row
                    ul.col-md-4 Услуги
                        -var list=['Кооператив','Новостройки','Вторичка','Вопрос юристу','Удаленная сделка','Ипотека повторно','Контроль']
                        for listLi in list
                            li
                                a= listLi
                    ul.col-md-4.indent1  Информация
                        -var list=['Объединение','Новости','Форум','Аналитика','Информация','Калькуляторы','Партнеры','Инициативы','Отзывы','Контакты']
                        for listLi in list
                            li
                                a= listLi
                    ul.col-md-4.indent2  Дополнительно
                        -var list=['Застройщики','Банки','Росвоенипотека','Общественная организация УНС','Молодострой','Народный фронт','Взаимодействие']
                        for listLi in list
                            li
                                a= listLi
            .col-md-4
                .row
                    ul.col-md-6.indent3 Связь
                        -var list=['Регформа','В банк','Жалоба','Презентация']
                        for listLi in list
                            li
                                a= listLi
                    ul.col-md-6.indent4  Кабинет
                        -var list=['Аккаунт','Избранное','Документы']
                        for listLi in list
                            li
                                a= listLi

section.footer-contact
    .container
        .row
            .footer-contact__number.col-md-6
                img(src="./images/icons/footer-number.png")
                span Вы можете связаться с нами по телефону
                span +7 800 500-43-44
            .footer-contact__social.col-md-6
                a(href="#")
                    img(src="./images/icons/vk-social-logotype.png")
                a(href="#")
                    img(src="./images/icons/facebook-logo-button.png")
                a(href="#")
                    img(src="./images/icons/OK_logo.png")
section.footer-right
    .container
        .row
            .col-md-6
                span © Военгарант, 2016 г. Все права защищены.

            .footer-right__logo.col-md-6
                img(src="./images/icons/footer-right.png")
                span Разработано NTI systems