.object-graph_desktop
    .object-table.no-reiting
        span.max-reiting-inscription Максимальный рейтинг
            span.max-reiting  100%
    .graphic.graphic-builders.no-reiting
        .graphic__list.clearfix
            .graphic__column
                ul.graphic__list-cell.blue-cell.graphic__cell-top.graphic__cell-top_color-b
                    li.blue-cell-10
                    li.blue-cell-9
                    li.blue-cell-8
                    li.blue-cell-7
                    li.blue-cell-6
                    li.blue-cell-5
                    li.blue-cell-4
                    li.blue-cell-3
                    li.blue-cell-2
                    li.blue-cell-1
            .graphic__column
                ul.graphic__list-cell.blue-cell.graphic__cell-top.graphic__cell-top_color-b
                    li.blue-cell-9
                    li.blue-cell-8
                    li.blue-cell-7
                    li.blue-cell-6
                    li.blue-cell-5
                    li.blue-cell-4
                    li.blue-cell-3
                    li.blue-cell-2
                    li.blue-cell-1
            .graphic__column
                ul.graphic__list-cell.blue-cell.graphic__cell-top.graphic__cell-top_color-b
                    li.blue-cell-8
                    li.blue-cell-7
                    li.blue-cell-6
                    li.blue-cell-5
                    li.blue-cell-4
                    li.blue-cell-3
                    li.blue-cell-2
                    li.blue-cell-1
            .graphic__column
                ul.graphic__list-cell.yellow-cell.graphic__cell-top.graphic__cell-top_color-y
                    li
                    li
                    li
                    li
                    li
                    li
                    li
            .graphic__column
                ul.graphic__list-cell.yellow-cell.graphic__cell-top.graphic__cell-top_color-y
                    li
                    li
                    li
                    li
                    li
                    li
            .graphic__column
                ul.graphic__list-cell.yellow-cell.graphic__cell-top.graphic__cell-top_color-y
                    li
                    li
                    li
                    li
                    li
            .graphic__column
                ul.graphic__list-cell.red-cell.graphic__cell-top.graphic__cell-top_color-r
                    li
                    li
                    li
            .graphic__column
                ul.graphic__list-cell.red-cell.graphic__cell-top.graphic__cell-top_color-r
                    li
                    li
        .graphic__rate
            ul.name
                -var names = ['Застройщик','Безопасность района','Транспорт','Заселенность района','Экология','Инфраструктура','Качество','Общий рейтинг']
                each name in names
                    li= name
            ul.value
                -var values = ['95.5%','96.4%','97%','60%','50%','40%','30%','20%']
                each value in values
                    li= value
    .object-message.text-center
        img(src='./images/icons/mark.png')
        span Оценка объекта для выставления рейтинга<br>не проводилась
.object-graph_mobile
    .object-table.no-reiting
        span.max-reiting-inscription Максимальный рейтинг
            span.max-reiting  100%
    .graphic.graphic-builders.no-reiting
        .graphic__list.clearfix
            .graphic__column
                ul.graphic__list-cell.blue-cell.graphic__cell-top.graphic__cell-top_color-b
                    li.blue-cell-10
                    li.blue-cell-9
                    li.blue-cell-8
                    li.blue-cell-7
                    li.blue-cell-6
                    li.blue-cell-5
                    li.blue-cell-4
                    li.blue-cell-3
                    li.blue-cell-2
                    li.blue-cell-1
            .graphic__column
                ul.graphic__list-cell.blue-cell.graphic__cell-top.graphic__cell-top_color-b
                    li.blue-cell-9
                    li.blue-cell-8
                    li.blue-cell-7
                    li.blue-cell-6
                    li.blue-cell-5
                    li.blue-cell-4
                    li.blue-cell-3
                    li.blue-cell-2
                    li.blue-cell-1
            .graphic__column
                ul.graphic__list-cell.blue-cell.graphic__cell-top.graphic__cell-top_color-b
                    li.blue-cell-8
                    li.blue-cell-7
                    li.blue-cell-6
                    li.blue-cell-5
                    li.blue-cell-4
                    li.blue-cell-3
                    li.blue-cell-2
                    li.blue-cell-1
            .graphic__column
                ul.graphic__list-cell.yellow-cell.graphic__cell-top.graphic__cell-top_color-y
                    li
                    li
                    li
                    li
                    li
                    li
                    li
        .graphic__rate
            ul.name
                -var names = ['Застройщик','Безопасность района','Транспорт','Заселенность района']
                each name in names
                    li= name
            ul.value
                -var values = ['50%','40%','30%','20%']
                each value in values
                    li= value
        .graphic__list.clearfix
            .graphic__column
                ul.graphic__list-cell.yellow-cell.graphic__cell-top.graphic__cell-top_color-y
                    li
                    li
                    li
                    li
                    li
                    li
            .graphic__column
                ul.graphic__list-cell.yellow-cell.graphic__cell-top.graphic__cell-top_color-y
                    li
                    li
                    li
                    li
                    li
            .graphic__column
                ul.graphic__list-cell.red-cell.graphic__cell-top.graphic__cell-top_color-r
                    li
                    li
                    li
            .graphic__column
                ul.graphic__list-cell.red-cell.graphic__cell-top.graphic__cell-top_color-r
                    li
                    li
        .graphic__rate
            ul.name
                -var names = ['Экология','Инфраструктура','Качество','Общий рейтинг']
                each name in names
                    li= name
            ul.value
                -var values = ['50%','40%','30%','20%']
                each value in values
                    li= value
    .object-message.text-center
        img(src='./images/icons/mark.png')
        span Оценка объекта для выставления рейтинга<br>не проводилась
.object-table.no-reiting
    span.max-reiting-inscription Максимальный рейтинг
        span.max-reiting  100%
.graphic.graphic-builders.no-reiting
    .graphic__list.clearfix
        .graphic__column
            ul.graphic__list-cell.blue-cell.graphic__cell-top.graphic__cell-top_color-b
                li.blue-cell-10
                li.blue-cell-9
                li.blue-cell-8
                li.blue-cell-7
                li.blue-cell-6
                li.blue-cell-5
                li.blue-cell-4
                li.blue-cell-3
                li.blue-cell-2
                li.blue-cell-1
        .graphic__column
            ul.graphic__list-cell.blue-cell.graphic__cell-top.graphic__cell-top_color-b
                li.blue-cell-9
                li.blue-cell-8
                li.blue-cell-7
                li.blue-cell-6
                li.blue-cell-5
                li.blue-cell-4
                li.blue-cell-3
                li.blue-cell-2
                li.blue-cell-1
        .graphic__column
            ul.graphic__list-cell.blue-cell.graphic__cell-top.graphic__cell-top_color-b
                li.blue-cell-8
                li.blue-cell-7
                li.blue-cell-6
                li.blue-cell-5
                li.blue-cell-4
                li.blue-cell-3
                li.blue-cell-2
                li.blue-cell-1
        .graphic__column
            ul.graphic__list-cell.yellow-cell.graphic__cell-top.graphic__cell-top_color-y
                li
                li
                li
                li
                li
                li
                li
        .graphic__column
            ul.graphic__list-cell.yellow-cell.graphic__cell-top.graphic__cell-top_color-y
                li
                li
                li
                li
                li
                li
        .graphic__column
            ul.graphic__list-cell.yellow-cell.graphic__cell-top.graphic__cell-top_color-y
                li
                li
                li
                li
                li
        .graphic__column
            ul.graphic__list-cell.red-cell.graphic__cell-top.graphic__cell-top_color-r
                li
                li
                li
        .graphic__column
            ul.graphic__list-cell.red-cell.graphic__cell-top.graphic__cell-top_color-r
                li
                li
    .graphic__rate
        ul.name
            -var names = ['Застройщик','Безопасность района','Транспорт','Заселенность района','Экология','Инфраструктура','Качество','Общий рейтинг']
            each name in names
                li= name
        ul.value
            -var values = ['95.5%','96.4%','97%','60%','50%','40%','30%','20%']
            each value in values
                li= value
.object-message.text-center
    img(src='./images/icons/mark.png')
    span Оценка объекта для выставления рейтинга<br>не проводилась
